<h1>Success!</h1>

<p>You can come back and edit your post at any time at this url:
<a href="/post/edit/<%= @cat %>/<%= @key %>">localhost/post/edit/<%= @cat %>/<%= @key %></a></p>

<a href="/">Back to the category listing</a>
