<h1>Success!</h1>

<p>You can come back and edit your post at any time at this url:
<a href="/post/edit/?key=<%= @key %>">localhost/post/edit/?key=<%= @key %></a></p>
<p>View your post <a href="/post/?id=<%= @post.id %>">here</a>.</p>

<a href="/">Back to the category listing</a>
